<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
      <!-- 因为已经在applicationContext-common中指定了映射文件的位置，这里就省略了 -->  
      <!-- <mappers>    
            <mapper resource="com/zhou/mapper/test.xml"/>    
      </mappers>   -->  
  
</configuration> 