<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/struts2/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>TimeServlet</servlet-name>
		<servlet-class>haust.vk.time.TimeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TimeServlet</servlet-name>
		<url-pattern>/servlet/TimeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>haust.vk.user.UserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/servlet/UserServlet</url-pattern>
	</servlet-mapping>
</web-app>