<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="User"> 
  <resultMap type="com.hisoft.xypj.common.bean.UserInfo" id="userInfo" >
      <result property="userId" column="userId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 用户ID -->
      <result property="userName" column="userName" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 用户名 -->
      <result property="userPassword" column="userPassword" javaType="java.lang.String" jdbcType="CHAR"/><!-- 密码 -->
      <result property="right" column="right" javaType="java.lang.String" jdbcType="CHAR"/><!-- 权限（0：超级管理员，1：评审用户，2：评价机构负责人，3：评价机构职员） -->
      <result property="mechanismId" column="mechanismId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 所属机构ID，信用协会人员则为\'00000000\' -->
      <result property="createUserId" column="createUserId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 创建人 -->
      <result property="createTime" column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/><!-- 创建时间 -->
      <result property="updateTime" column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/><!-- 更新时间 -->
  </resultMap>
  <resultMap type="com.hisoft.xypj.common.bean.Mechanism" id="mechanism" >  
      <result property="mechanismId" column="mechanismId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 机构ID -->
      <result property="mechanismName" column="mechanismName" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 机构名称 -->
      <result property="address" column="address" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 地址 -->
      <result property="telephone" column="telephone" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 电话 -->
      <result property="responsibleUserId" column="responsibleUserId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 负责人ID -->
      <result property="createUserId" column="createUserId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 创建人 -->
      <result property="createTime" column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/><!-- 创建时间 -->
      <result property="updateTime" column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/><!-- 更新时间 -->
  </resultMap>
  <resultMap type="com.hisoft.xypj.common.bean.CreditRating" id="creditRating" >
      <result property="classId" column="classId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 类别ID -->
      <result property="classification" column="classification" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 分类 -->
      <result property="symbol" column="symbol" javaType="java.lang.String" jdbcType="CHAR"/><!-- 符号 -->
      <result property="scoringRangeS" column="scoringRangeS" javaType="java.lang.Integer" jdbcType="INT"/><!-- 计分范围 -->
      <result property="scoringRangeE" column="scoringRangeE" javaType="java.lang.Integer" jdbcType="INT"/><!-- 计分范围 -->
      <result property="credittips" column="credittips" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 信用提示 -->
      <result property="interpretation" column="interpretation" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 释义 -->
      <result property="createUserId" column="createUserId" javaType="java.lang.String" jdbcType="CHAR"/>
      <result property="createTime" column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
      <result property="updateTime" column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </resultMap>
  <resultMap type="com.hisoft.xypj.common.bean.CompanyInfo" id="companyInfo" > 
      <result property="companyId" column="companyId" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 企业ID -->
      <result property="companyName" column="companyName" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 企业名称 -->
      <result property="mechanismId" column="mechanismId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 机构ID -->
      <result property="companyAdd" column="companyAdd" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 企业地址 -->
      <result property="telePhone" column="telePhone" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 联系电话 -->
      <result property="economy" column="economy" javaType="java.lang.Integer" jdbcType="INT"/><!-- 经济类型 -->
      <result property="icrn" column="icrn" javaType="java.lang.String" jdbcType="CHAR"/><!-- 工商注册号 -->
      <result property="businessScope" column="businessScope" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 经营范围 -->
      <result property="basBankAcn" column="basBankAcn" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 基本开户行 -->
      <result property="account" column="account" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 账号 -->
      <result property="corporate" column="corporate" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 法定代表人 -->
      <result property="postcode" column="postcode" javaType="java.lang.String" jdbcType="CHAR"/><!-- 邮政编码 -->
      <result property="regCapital" column="regCapital" javaType="java.lang.String" jdbcType="DECIMAL"/><!-- 注册资本 -->
      <result property="createDay" column="createDay" javaType="java.lang.String" jdbcType="DATE"/><!-- 成立日期 -->
      <result property="orgCode" column="orgCode" javaType="java.lang.String" jdbcType="CHAR"/><!-- 组织机构代码 -->
      <result property="taxNumber" column="taxNumber" javaType="java.lang.String" jdbcType="CHAR"/><!-- 税务证号 -->
      <result property="social" column="social" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 社会保险登记 -->
      <result property="loanNumber" column="loanNumber" javaType="java.lang.String" jdbcType="VARCHAR"/><!-- 贷款证号 -->
      <result property="createUserId" column="createUserId" javaType="java.lang.String" jdbcType="CHAR"/>
      <result property="createTime" column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
      <result property="updateTime" column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </resultMap>
  <resultMap type="com.hisoft.xypj.common.bean.CompanyBasicInfo" id="companyBasicInfo" >
      <result property="companyId" column="companyId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 企业ID -->
      <result property="estPer" column="estPer" javaType="java.lang.Integer" jdbcType="INT"/><!-- 历史沿革（成立年限） -->
      <result property="entSca" column="entSca" javaType="java.lang.String" jdbcType="CHAR"/><!-- 企业规模 -->
      <result property="senExeCnt" column="senExeCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员数 -->
      <result property="midHigExeCnt" column="midHigExeCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 具有本科及以上学历或中级及以上职称人数 -->
      <result property="couMunAwaCnt" column="couMunAwaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员获得人民政府或主管部 门荣誉奖项数（县、市级） -->
      <result property="proAwaCnt" column="proAwaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员获得人民政府或主管部 门荣誉奖项数（省级） -->
      <result property="natAwaCnt" column="natAwaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员获得人民政府或主管部 门荣誉奖项数（国家级） -->
      <result property="empCnt" column="empCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 从业人员数量 -->
      <result property="senStaEmpCnt" column="senStaEmpCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 本科及以上学历或中级及以上职称人员数量 -->
      <result property="badRecEmpCnt" column="badRecEmpCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 从业人员存在不良记录人数 -->
      <result property="opeCon" column="opeCon" javaType="java.lang.String" jdbcType="CHAR"/><!-- 法人治理结构及其运行情况 -->
      <result property="manCovRat" column="manCovRat" javaType="java.lang.Integer" jdbcType="INT"/><!-- 各项管理制度覆盖比率 -->
      <result property="couMunWinCnt" column="couMunWinCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 获奖项目项目数(地市级) -->
      <result property="proWinCnt" column="proWinCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 获奖项目项目数(省级) -->
      <result property="natWinCnt" column="natWinCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 获奖项目项目数(国家级) -->
      <result property="mainItemQua" column="mainItemQua" javaType="java.lang.Integer" jdbcType="INT"/><!-- 主项资质 -->
      <result property="gaiQuaCnt" column="gaiQuaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 增项资质 -->
      <result property="quaManSysCer" column="quaManSysCer" javaType="java.lang.String" jdbcType="CHAR"/><!-- 质量管理体系通过认证 -->
      <result property="safManSysCer" column="safManSysCer" javaType="java.lang.String" jdbcType="CHAR"/><!-- 安全管理体系认证 -->
      <result property="envManSysCer" column="envManSysCer" javaType="java.lang.String" jdbcType="CHAR"/><!-- 环保质量体系认证 -->
      <result property="createUserId" column="createUserId" javaType="java.lang.String" jdbcType="CHAR"/>
      <result property="createTime" column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
      <result property="updateTime" column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </resultMap>
  <resultMap type="com.hisoft.xypj.common.bean.CmpBscInfoFra" id="cmpBscInfoFra" >  
      <result property="companyId" column="companyId" javaType="java.lang.String" jdbcType="CHAR"/><!-- 企业ID -->
      <result property="estPer" column="estPer" javaType="java.lang.Integer" jdbcType="INT"/><!-- 历史沿革（成立年限） -->
      <result property="entSca" column="entSca" javaType="java.lang.Integer" jdbcType="INT"/><!-- 企业规模 -->
      <result property="senExeCnt" column="senExeCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员数 -->
      <result property="midHigExeCnt" column="midHigExeCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 具有本科及以上学历或中级及以上职称人数 -->
      <result property="couMunAwaCnt" column="couMunAwaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员获得人民政府或主管部 门荣誉奖项数（县、市级） -->
      <result property="proAwaCnt" column="proAwaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员获得人民政府或主管部 门荣誉奖项数（省级） -->
      <result property="natAwaCnt" column="natAwaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 高管人员获得人民政府或主管部 门荣誉奖项数（国家级） -->
      <result property="empCnt" column="empCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 从业人员数量 -->
      <result property="senStaEmpCnt" column="senStaEmpCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 本科及以上学历或中级及以上职称人员数量 -->
      <result property="badRecEmpCnt" column="badRecEmpCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 从业人员存在不良记录人数 -->
      <result property="opeCon" column="opeCon" javaType="java.lang.Integer" jdbcType="INT"/><!-- 法人治理结构及其运行情况 -->
      <result property="manCovRat" column="manCovRat" javaType="java.lang.Integer" jdbcType="INT"/><!-- 各项管理制度覆盖比率 -->
      <result property="couMunWinCnt" column="couMunWinCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 获奖项目项目数(地市级) -->
      <result property="proWinCnt" column="proWinCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 获奖项目项目数(省级) -->
      <result property="natWinCnt" column="natWinCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 获奖项目项目数(国家级) -->
      <result property="mainItemQua" column="mainItemQua" javaType="java.lang.Integer" jdbcType="INT"/><!-- 主项资质 -->
      <result property="gaiQuaCnt" column="gaiQuaCnt" javaType="java.lang.Integer" jdbcType="INT"/><!-- 增项资质 -->
      <result property="quaManSysCer" column="quaManSysCer" javaType="java.lang.Integer" jdbcType="INT"/><!-- 质量管理体系通过认证 -->
      <result property="safManSysCer" column="safManSysCer" javaType="java.lang.Integer" jdbcType="INT"/><!-- 安全管理体系认证 -->
      <result property="envManSysCer" column="envManSysCer" javaType="java.lang.Integer" jdbcType="INT"/><!-- 环保质量体系认证 -->
      <result property="createUserId" column="createUserId" javaType="java.lang.String" jdbcType="CHAR"/>
      <result property="createTime" column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
      <result property="updateTime" column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </resultMap>
</mapper> 