<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">


	<!-- 样例代码 <bean id="testDao" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		scope="prototype"> <property name="mapperInterface" value="com.zhou.dao.TestDao" 
		/> <property name="sqlSessionFactory" ref="sqlSessionFactory" /> </bean> 
		<bean id="testService" class="com.zhou.services.impl.TestServiceImpl" scope="prototype"> 
		<property name="testDao" ref="testDao" /> </bean> -->

	<!-- action -->
	<!-- 登录 -->
	<bean id="loginAction" class="com.hisoft.xypj.login.action.LoginAction"
		scope="prototype">
		<property name="service" ref="userInfoService"></property>
	</bean>

	<!-- 添加用户 -->
	<bean id="addUserAction" class="com.hisoft.xypj.login.action.AddUserAction"
		scope="prototype">
		<property name="service" ref="userInfoService"></property>
	</bean>

	<!-- 添加用户前取下拉框 -->
	<bean id="beforeAddUserAction" class="com.hisoft.xypj.login.action.BeforeAddUserAction"
		scope="prototype">
		<property name="service" ref="mechanismService"></property>
	</bean>

	<!-- 删除用户页面的table -->
	<bean id="deleteAction" class="com.hisoft.xypj.login.action.selectUserAction"
		scope="prototype">
		<property name="service" ref="userInfoService"></property>
	</bean>

	<!-- 删除用户 -->
	<bean id="deleteUserAction" class="com.hisoft.xypj.login.action.deleteUserAction"
		scope="prototype">
		<property name="service" ref="userInfoService"></property>
	</bean>

	<!-- 机构信息action -->
	<bean id="mechanismAction" class="com.hisoft.xypj.login.action.MechanismAction"
		scope="prototype">
		<property name="service" ref="mechanismService"></property>
	</bean>

	<!-- 添加机构信息 前 -->
<!-- 	<bean id="beforeAddMechanismAction" class="com.hisoft.xypj.login.action.BeforeAddMechanismAction" -->
<!-- 		scope="prototype"> -->
<!-- 		<property name="service" ref="userInfoService"></property> -->
<!-- 	</bean> -->

	<!-- 完善企业信息 -->
<!-- 	<bean id="endCompanyInfoAction" class="com.hisoft.xypj.login.action.EndCompanyInfoAction" -->
<!-- 		scope="prototype"> -->
<!-- 		<property name="service" ref="CompanyInfoService"></property> -->
<!-- 	</bean> -->

	<!-- 添加企业基本信息 -->
<!--     <bean id="addCompanyAction" class="com.hisoft.xypj.login.action.AddCompanyAction" scope="prototype"> -->
<!--         <property name="service" ref="companyInfoService"></property> -->
<!--     </bean> -->
    
     <!-- 查询企业类型 -->
<!--     <bean id="companyTypeAction" class="com.hisoft.xypj.login.action.CompanyTypeAction" scope="prototype"> -->
<!--         <property name="service" ref="companyTypeService"></property> -->
<!--     </bean> -->





	<!-- Service -->
	<!-- 用户 -->
	<bean id="userInfoService" class="com.hisoft.xypj.login.service.UserInfoServiceImp"
		scope="prototype">
		<property name="userInfoDao" ref="userInfoDao"></property>
	</bean>


	<!-- 机构信息service -->
	<bean id="mechanismService" class="com.hisoft.xypj.login.service.MechanismServiceImp"
		scope="prototype">
		<property name="mechanismDao" ref="mechanismDao"></property>
	</bean>
	<!-- 企业基本信息 -->
<!-- 	<bean id="companyInfoService" -->
<!-- 		class="com.hisoft.xypj.login.service.CompanyInfoServiceImp" -->
<!-- 		scope="prototype"> -->
<!-- 		<property name="companyInfoDao" ref="companyInfoDao"></property> -->
<!-- 	</bean> -->
	<!-- 企业类型 -->
<!-- 	<bean id="companyTypeService" class="com.hisoft.xypj.login.service.CompanyTypeServiceImp" scope="prototype">    -->
<!--     	<property name="companyTypeDao" ref="companyTypeDao"></property> -->
<!--     </bean> -->






	<!-- DAO -->
	<!-- 用户 -->
	<bean id="userInfoDao" class="com.hisoft.xypj.login.dao.UserInfoDaoImp"
		scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>


	<!--机构信息dao -->
	<bean id="mechanismDao" class="com.hisoft.xypj.login.dao.MechanismDaoImp"
		scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

 	<!-- 企业 --> 
<!-- 	<bean id="companyInfoDao" class="com.hisoft.xypj.login.dao.CompanyInfoDaoImp" -->
<!-- 		scope="prototype"> -->
<!-- 		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> -->
<!-- 	</bean> -->
 	<!-- 企业类型 --> 
<!-- 	<bean id="companyTypeDao" class="com.hisoft.xypj.login.dao.CompanyTypeDaoImp" scope="prototype">    -->
<!--          <property name="sqlSessionFactory" ref="sqlSessionFactory" /> -->
<!--     </bean> -->
</beans>